.order-book-ask {
  background-color: #e1f4fd;
}

.order-book-bid {
  background-color: #eaebeb
}

#order-book tbody tr {
  border-bottom: 1px solid #e6e6e6;
}

#order-book table {
  border-collapse: collapse;
  border-spacing: 0;
}