<h1 class="text-5xl text-bold">Admin interface for monitoring a room</h1>

<!-- TODO: Display code for joining -->

<!-- TODO: Display number of folks connected -->

<!-- TODO: Display "Start button" -->

<!-- TODO: Display experiment monitor -->

<!-- TODO: Display order book -->

<!-- TODO: Display graph of transactions -->

<!-- TODO: Display table of participant details (cash, shares) -->
